.page-content {
    // Specific styles for the 404 page template
    .page-header {
        h1,h2 {
            font-weight: 100;
        }

        h1 {
            font-size: rem(150);
            color: #EC69A3;
            letter-spacing: 7.5px;
        }

        h2{
            color: #F8AC00;
            letter-spacing: 1.8px;          
        }
    }

    .categories {
        p{
            font-family: "Roboto-Regular";
            color: rgba(0,0,0, .6);
        }

        li {
            a{
                display: inline-block;
                border-radius: 3px 4px 4px 3px;
                font-size: rem( 17 );
                font-weight: 100;
                line-height: 1;
                letter-spacing: 1.7px;
            }
        }
    }
}